#include "/home/gmc/.colors/hybrid"
!#include "/home/gmc/.colors/unknown"
!#include "/home/gmc/.colors/tomorrow"
!#include "/home/gmc/.colors/earth"
!#include "/home/gmc/.colors/sero"
!#include "/home/gmc/.colors/blush"
!#include "/home/gmc/.colors/light"

Xft.dpi: 100
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull

!URxvt*.cursorUnderline: true
URxvt*.scrollBar: false
URxvt*.keysym.Shift-Up: command:\033]720;1\007
URxvt*.keysym.Shift-Down: command:\033]721;1\007
URxvt*.perl-ext-common: default,matcher,clipboard
URxvt*.url-launcher: /usr/bin/xdg-open
URxvt*.matcher.button: 1
URxvt*.font: xft:Hack:size=12:antialias=true
URxvt*.boldFont: xft:Hack:bold:size=12:antialias=true
!URxvt*.font: xft:Source Code Pro:size=12:antialias=true
!URxvt*.boldFont: xft:Source Code Pro:bold:size=12:antialias=true
URxvt*.letterSpace: -2
URxvt*.internalBorder: 4

*VT100.colorBDMode:                   true
*VT100.colorBD:                       red
*VT100.colorULMode:                   true
*VT100.colorUL:                       magenta
*VT100.veryBoldColors:                6
